.dark-mode .ant-card-body {
  background-color: #454d55;
  color: #fff;
}

.dark-mode .ant-card-body span,
.dark-mode .ant-statistic-title {
  color: #fff !important;
}
.dark-mode .table-version1 i,
.dark-mode .table-version1 a,
.dark-mode .table-version1 span,
.dark-mode .table-version1 li:active,
.dark-mode .table-version1 li:active,
.dark-mode .table-version1 li:active 
.dark-mode .table-version1 li:hover,
.dark-mode .table-version1 li:hover,
.dark-mode .table-version1 li:hover {
  color: #fff !important;
}

